<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" padding>

    <form (ngSubmit)="register()" #registerForm="ngForm" class="login-box">
        <ion-row>
          <ion-col>
            <ion-list inset>

                <ion-item>
                    <ion-input type="text" placeholder="Full Name" name="fullName" [(ngModel)]="registerCredentials.fullName" required></ion-input>
                  </ion-item>
              
              <ion-item>
                <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
              </ion-item>
              
            </ion-list>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col class="signup-col">
            <ion-button class="submit-btn" expand="block" full type="submit" [disabled]="!registerForm.form.valid">Register</ion-button>
          </ion-col>
        </ion-row>
        
      </form>

</ion-content>
