<div class="media" *ngFor="let book of book">
    <img class="mr-6" src="{{book.image}}" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0">Book Details</h5>
        <ul class="list-group" >
            <li class="list-group-item list-group-item-light">Title: {{ book.title }}</li>
            <li class="list-group-item list-group-item-light" *ngFor="let author of book.author">Author:<a>{{author.name}}</a></li>
            <li class="list-group-item list-group-item-light">Language: {{ book.language }}</li>
            <li class="list-group-item list-group-item-light">Published Year: {{ book.published }}</li>
            <li class="list-group-item list-group-item-light">Number of pages: {{ book.pages }}</li>    
        </ul>
    </div>
</div>