<div class="container">
  <div class="reglist">
      <div class="active-cyan-3 active-cyan-4 mb-4">
          <input class="form-control" type="text" placeholder="Search" (keyup)="getAllAuthorsForPaging($event.target.value)" [(ngModel)]="searchValue" >
        </div>
        <div class="regentry" *ngIf="showEdit">
          <form [formGroup]="editForm" novalidate (submit)="update(author)">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="name" placeholder="Enter your Name" minlength="3">
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!editForm.valid">Update</button>
            <button type="button" class="btn btn-primary" (click)="cancelEdit()">Cancel</button>
          </form>
        </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Something</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authors | paginate: {id: 'listing_pagination',
                                                      itemsPerPage: itemsPerPage,
                                                      currentPage: currentPage,
                                                      totalItems: lengthAuthorsArray}; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{author.name}}</td>
          <td></td>
          <td>
            <button type="button" class="btn btn-warning" id={{i}} (click)="edit(author)">Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" id={{i}} (click)="delete(author._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls id='listing_pagination' (pageChange)="currentPage = $event" (click)="getAuthors()"></pagination-controls>
  </div>
</div>