<h1>Add New Journal</h1>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="addJournal">
      <div class="form-group">
        <label for="name">Title</label>
        <input type="text" class="form-control" formControlName="title" required>
      </div>
      <div class="form-group">
        <button type="button" (click)="save()" class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
</div>