<div class="container">
  <h1>Edit Book</h1>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="editBook">
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" class="form-control" formControlName="title" required placeholder={{book.title}}>
        </div>
        <div class="form-group">
          <label class="image-upload-container btn btn-bwm">
            <input (change)="handleFile($event)" formControlName="image" type="file">
          </label>
        </div>
        <div class="form-group">
          <label for="name">Language</label>
          <input type="text" class="form-control" formControlName="language" required placeholder={{book.language}}>
        </div>
        <div class="form-group">
          <label for="name">Published Year</label>
          <input type="number" class="form-control" formControlName="published" required placeholder={{book.published}}>
        </div>
        <div class="form-group">
          <label for="name">Number of pages</label>
          <input type="number" class="form-control" formControlName="pages" required placeholder={{book.pages}}>
        </div>
        <div class="input-group mb-3">
          <ng-select formControlName="author" [items]="authors" [multiple]="true" bindLabel="name" bindValue="_id"
            placeholder="Select author" [(ngModel)]="book.author">
            <div class="mt-3">
              <ul>
                <li *ngFor="let item of selectedPeople">{{item.name}}</li>
              </ul>
              <button (click)="clearModel()" class="btn btn-secondary btn-sm">Clear model</button>
            </div>
          </ng-select>
        </div>
        <div class="input-group mb-3">
          <ng-select formControlName="journal" [items]="journals" [multiple]="true" bindLabel="title" bindValue="_id"
            placeholder="Select journal" [(ngModel)]="book.journal">
            <div class="mt-3">
              <ul>
                <li *ngFor="let item of selectedJournal">{{item.title}}</li>
              </ul>
              <button (click)="clearModel()" class="btn btn-secondary btn-sm">Clear model</button>
            </div>
          </ng-select>
        </div>
        <div class="form-group">
          <button type="button" (click)="update()" class="btn btn-success">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>