nav {
    height: 100px;
  
    .navbar-brand {
      font-size: 30px;
      margin-right: 35px;
    }
    
    .nav-item {
        margin: 10px;
    }
    
    .btn {
      color: white;
      border-color: white;
    }
  }