<div class="container">
    <div class="reglist">
        <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="text" placeholder="Search" (keyup)="getAllJournalsForPaging($event.target.value)" [(ngModel)]="searchValue" >
          </div>
          <div class="regentry" *ngIf="showEdit">
            <form [formGroup]="editForm" novalidate (submit)="update(journal)">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="title" placeholder="Enter new title" minlength="3">
              </div>
              <button type="submit" class="btn btn-success" [disabled]="!editForm.valid">Update</button>
              <button type="button" class="btn btn-primary" (click)="cancelEdit()">Cancel</button>
            </form>
          </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Something</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let journal of journals | paginate: {id: 'listing_pagination',
                                                          itemsPerPage: itemsPerPage,
                                                          currentPage: currentPage,
                                                          totalItems: lengthJournalsArray}; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{journal.title}}</td>
            <td></td>
            <td>
              <button type="button" class="btn btn-warning" id={{i}} (click)="edit(journal)">Edit</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" id={{i}} (click)="delete(journal._id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls id='listing_pagination' (pageChange)="currentPage = $event" (click)="getJournals()"></pagination-controls>
    </div>
  </div>