<div class="media">
    <img class="mr-6" src="https://images-na.ssl-images-amazon.com/images/I/51eAMQG-GkL.jpg" alt="Generic placeholder image">
    <div class="media-body">
        <ul class="list-group">
            <h5 class="mt-0">Author Details</h5>
            <li class="list-group-item list-group-item-light">Author: {{ author.name }}</li>
        </ul>
        <ul class="list-group" >
            <h5 class="mt-0">All Books with this author</h5>
            <li class="list-group-item list-group-item-light" *ngFor="let book of books">{{book.title}}</li>
        </ul>
    </div>
</div>