<h1>Book List</h1>
<div class="buttons">
  <button type="submit" class="btn btn-primary" (click)="showPopupAuthor()">Add new author</button>
  <button type="submit" class="btn btn-primary" (click)="showPopupJournal()">Add new journal</button>
  <button type="submit" class="btn btn-primary" (click)="showPopupBook()">Add new book</button>
</div>
<div class="popup">
  <app-popup-admin-add-book class="popup-book" *ngIf="addBook" (closePopupBookEvt)="closePopupBook($event)"></app-popup-admin-add-book>
  <app-popup-admin-add-author class="popup-author" *ngIf="addAuthor" (closePopupAuthorEvt)="closePopupAuthor($event)"></app-popup-admin-add-author>
  <app-popup-admin-add-journal class="popup-journal" *ngIf="addJournal" (closePopupJournalEvt)="closePopupJournal($event)"></app-popup-admin-add-journal>
</div>
<div class="active-cyan-3 active-cyan-4 mb-4">
  <input class="form-control" type="text" placeholder="Search" (keyup)="getAllBooksForPaging($event.target.value)" [(ngModel)]="searchValue" >
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-3" *ngFor="let book of books | paginate: {id: 'listing_pagination',
                                                              itemsPerPage: itemsPerPage,
                                                              currentPage: currentPage,
                                                              totalItems: lengthBooksArray}; let i = index">
      <div class="card" style="width: 18rem;">
        <img src= {{book.image}} alt="Card image cap" class="card-img-top"
          [routerLink]="['admin-show-book', book._id]">
        <div class="card-body">
          <h5 class="card-title">Title: {{ book.title }}</h5>
          <p class="card-text" *ngFor = "let author of book.author | slice:0:3">Author: <a [routerLink]="['admin-show-author', author._id]">{{
              author.name }}</a></p>
        </div>
        <button [routerLink]="['admin-books-edit', book._id]" class="btn btn-warning">Edit</button>
        <button type="button" class="btn btn-danger" (click)="delete(book._id)">Delete</button>
      </div>
    </div>
  </div>
</div>
<pagination-controls id='listing_pagination' (pageChange)="currentPage = $event" (click)="getBooks()"></pagination-controls>