.buttons {
  width: 467px;
  margin-left: auto;
  margin-right: auto;
  .btn {
    margin: 10px;
  }
}

.popup {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.active-cyan-3 {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}