<form [formGroup]="logInForm" novalidate (ngSubmit)="submit()">
  <h2>Log In!</h2>
  <div class="img">
    <img src="../../assets/img/users.png" width="120" height="120" alt="User icon">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1"><i class="far fa-envelope"></i>Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      formControlName="email" placeholder="Enter your E-mail">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"><i class="fas fa-unlock-alt"></i>Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
      placeholder="Password">
  </div>
  <span>{{authLogin}}</span>
  <div class="buttons">
    <button type="submit" class="btn btn-primary">Log In</button>
    <button type="button" class="btn btn-primary" routerLink="/home">Cancel</button>
  </div>
</form>

<h1>
  Sign in
</h1>


<button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
<button (click)="socialSignIn('google')">Sign in with Google</button>    

<!-- <form [formGroup]="orderForm">
<div formArrayName="items"
  *ngFor="let item of orderForm.get('items').controls; let i = index;">
  <div [formGroupName]="i">
    <input formControlName="name" placeholder="Item name">
    <input formControlName="description" placeholder="Item description">
    <input formControlName="price" placeholder="Item price">
  </div>
  Chosen name: {{ orderForm.controls.items.controls[i].controls.name.value }}
</div>
</form>
<button (click)="addItem()">dasda</button> -->