<div class="regentry">
  <h1>Add New Author</h1>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="addAuthor">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" formControlName="name" required>
        </div>
        <div class="form-group">
          <button type="button" (click)="save()" class="btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>