<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="login()" #registerForm="ngForm" class="login-box">
        <ion-row>
          <ion-col>
            <ion-list inset>
              
              <ion-item>
                <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
              </ion-item>
              
            </ion-list>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col class="signup-col">
            <ion-button expand="block" class="submit-btn" full type="submit" 
              [disabled]="!registerForm.form.valid" *ngIf="!(authenticationState | async)">Login</ion-button>
            <ion-button expand="block" color="secondary" routerLink="/register" routerDirection="forward">Register</ion-button>
          </ion-col>
        </ion-row>
        
      </form>
</ion-content>
