.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 10px;
  }
  
  .card-title, .card-text {
    text-align: center;
  }
  
  .active-purple-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #ce93d8;
    box-shadow: 0 0 0 1px #ce93d8;
  }
  
  .active-cyan-3 {
    width: 40%;
    margin: 30px auto 0;
  }
  
  @media (min-width: 1262px) {
    .container {
      max-width: 1262px;
    }
  }