<h1>Book List</h1>
<div class="active-cyan-3 active-cyan-4 mb-4">
  <input class="form-control" type="text" placeholder="Search" (keyup)="getAllBooksForPaging($event.target.value)" [(ngModel)]="searchValue" >
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-3" *ngFor="let book of books | paginate: {id: 'listing_pagination',
                                itemsPerPage: itemsPerPage,
                                currentPage: currentPage,
                                totalItems: lengthBooksArray}; let i = index">
      <div class="card" style="width: 18rem;">
        <img src= {{book.image}} alt="Card image cap" class="card-img-top"
          [routerLink]="['show-book-details', book._id]">
        <div class="card-body">
          <h5 class="card-title">Title: {{ book.title }}</h5>
          <p class="card-text" *ngFor = "let author of book.author | slice:0:3">Author: <a [routerLink]="['show-author', author._id]">{{
              author.name }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<pagination-controls id='listing_pagination' (pageChange)="currentPage = $event" (click)="getBooks()"></pagination-controls>