<div class="container">
  <div class="reglist">
      <div class="active-cyan-3 active-cyan-4 mb-4">
          <input class="form-control" type="text" placeholder="Search" (keyup)="getAllJournalsForPaging($event.target.value)" [(ngModel)]="searchValue" >
        </div>
        <div class="regentry" *ngIf="showNew">
          <form [formGroup]="addNewUserForm" novalidate (ngSubmit)="submit($event)">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="fullName" placeholder="Enter your Full Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email"
                placeholder="Enter your E-mail" required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password">
            </div>
            <div class="form-group">
              <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect02" formControlName="role">
                  <option selected>Choose...</option>
                  <option value="1">User</option>
                  <option value="2">Admin</option>
                </select>
                <div class="input-group-append">
                  <label class="input-group-text" for="inputGroupSelect02">Roles</label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!addNewUserForm.valid" (click)="save($event)">Save</button>
          </form>
        </div>
        <div class="regentry" *ngIf="showEdit">
          <form [formGroup]="addNewUserForm" novalidate (submit)="update(user)">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="fullName" placeholder="Enter your Full Name" minlength="3">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email"
                placeholder="Enter your E-mail" required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password"
                minlength="6">
            </div>
            <div class="form-group">
              <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect02" formControlName="role">
                  <option selected>Choose...</option>
                  <option value="1">User</option>
                  <option value="2">Admin</option>
                </select>
                <div class="input-group-append">
                  <label class="input-group-text" for="inputGroupSelect02">Roles</label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!addNewUserForm.valid">Update</button>
          </form>
        </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | paginate: {id: 'listing_pagination',
                                                  itemsPerPage: itemsPerPage,
                                                  currentPage: currentPage,
                                                  totalItems: lengthUsersArray}; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{user.fullName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>
            <button type="button" class="btn btn-warning" id={{i}} (click)="edit(user)">Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-info" (click)="ban(user._id)">Ban</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" id={{i}} (click)="delete(user._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button type="submit" class="btn btn-primary" (click)="showPopup()">New</button>
    </div>
    <pagination-controls id='listing_pagination' (pageChange)="currentPage = $event" (click)="getUsers()"></pagination-controls>
  </div>
  <br>
</div>