<h2 mat-dialog-title>{{modalTitle}}</h2>
<mat-dialog-content>Do you wish to delete this book?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button id="no-button" mat-dialog-close>No</button>
  <button mat-button id="yes-button" [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>