<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">E-library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin"><i class="fas fa-user"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin-books"><i class="fas fa-book"></i>Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin-authors"><i class="fas fa-book"></i>Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin-userlist"><i class="fas fa-users"></i>Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin-journals"><i class="fas fa-users"></i>Journals</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-primary" routerLink="/home" (click)="logout()">Log Out</button>
    </form>
  </div>
</nav>