@import "~@ng-select/ng-select/themes/material.theme.css";
$fa-font-path : "~@fortawesome/fontawesome-free-webfonts/webfonts";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";


  
body {
  color: #ffffff;
  text-shadow: 0px 2px 3px #555;

    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('./assets/img/asd.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
