<form [formGroup]="signUpForm" novalidate (ngSubmit)="submit($event)">
  <h2>Sign Up!</h2>
  <div class="img">
    <img src="../../assets/img/users.png" width="120" height="120" alt="User icon">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1"><i class="fas fa-user"></i>Full Name</label>
    <input type="text" class="form-control" formControlName="fullName" placeholder="Enter your Full Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1"><i class="far fa-envelope"></i>Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email"
      placeholder="Enter your E-mail" required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"><i class="fas fa-unlock-alt"></i>Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password">
  </div>
  <span>{{statusMessage}}</span>
  <div class="buttons">
    <button type="submit" class="btn btn-primary" [disabled]="!signUpForm.valid">Registration</button>
    <button type="button" class="btn btn-primary" routerLink="/home">Cancel</button>
  </div>
</form>
