.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
  
      h1 {
        color: azure;
      }
      
      a {
        border: 1px solid black;
        margin-right: 20px;
        padding: 12px;
        background: #80aaff;
        border: #80aaff;
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
      }
  }