<div class="wrapper">
  <h1>E-Library</h1>
  <nav>
    <a routerLink="/auth/login" routerLinkActive="active">Log In</a>
    <a routerLink="/auth/register" routerLinkActive="active">Registration</a>
  </nav>
</div>