form {
    width: 340px;
    background: aliceblue;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
      h2 {
        padding-top: 10px;
        font-size: 30px;
        color: #1a1aff;
        text-align: center;
      }
  
      .img {
        background: url('../../image/users.png') no-repeat center;
        background-size: cover;
        width: 130px;
        height: 130px;
        text-align: center;
        margin: 5px auto;
      }
  
      span {
        display: block;
        text-align: center;
        font-weight: bold;
        color: red;
      }
  
      .buttons {
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
      }
    }
    

    