<div class="media" *ngFor="let book of books">
    <img class="mr-6" src="{{book.image}}" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0">Author Details</h5>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light" >Author: {{author.name}}</li>
        </ul>
        <h5 class="mt-0">All Books with this author</h5>
        <ul class="list-group" >
            <li class="list-group-item list-group-item-light" >{{book.title}}</li>
        </ul>
    </div>
</div>