<div class="container">
    <h2>New Users</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{user.fullName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="confirm(user._id)">Confirm</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" id={{i}} (click)="reject($event)">Reject</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>