<form [formGroup]="changeForm" novalidate (submit)="change()">
  <h2>Change you privacy setting</h2>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="fullName" placeholder="Enter your Full Name" minlength="3">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email"
      placeholder="Enter your E-mail" required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" />
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password"
      minlength="6">
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!changeForm.valid">Update</button>
  <button type="button" class="btn btn-primary" routerLink="/profile">Cancel</button>
</form>